:root{
    color-scheme: light dark;
}

@media (prefers-color-scheme: light){
    :root{
     --skeleton-bg-1: hsl(200, 20%, 80%);
        --skeleton-bg-2: hsl(200, 20%, 95%);
    }
}
@media (prefers-color-scheme: dark){
    :root{
    --skeleton-bg-1: hsl(200, 0%, 15%);
        --skeleton-bg-2: hsl(200, 0%, 25%);
    }
}

body{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: space-evenly;
}

.prew{
    width: 300px;
    height: auto;
    border: 2px solid grey;
    padding: 20px;
    border-radius: 12px;
}

.skeleton, .skeleton__anim {
    background-color: var(--skeleton-bg-1);
  }
  .skeleton__anim{
      animation: 1s skeleton-loading ease-in-out infinite alternate;
  }
  @keyframes skeleton-loading {
    0% {
      background-color: var(--skeleton-bg-1);
    }
    100% {
      background-color: var(--skeleton-bg-2);
    }
  }
  @keyframes skeleton-loading-h {
    0% {
      background-color: rgba(255, 255, 255, .2);
    }
    100% {
      background-color: rgba(255, 255, 255, .3);
    }
  }
  .skeleton-avatar{
      border-radius: 100%;
  }
  .skeleton-text{
    width: 100%;
    min-height: 21px;
    border-radius: 0.25rem;
  }
  .sk-avatar-small{
      height: 36px;
      width: 36px;
  }
  .sk-text-multi{
      margin: 0;
      margin-bottom: 0.5rem;
  }
  .skeleton-text__body {
    width: 75%;
  }
  
  .skeleton-footer {
    width: 30%;
  }